 <link rel='stylesheet prefetch' href={{ static_url("bootstrap.min.css") }} >
 <link rel="stylesheet" href={{ static_url("login.css") }} type="text/css"/>
 <link href="{{ static_url('img/favicon.ico') }}" rel="icon" type="image/x-icon" /> 
     <title> New Group</title>

<div class="container">
  <div class="row">

  	<div class="col-md-6">
    
          <form class="form-horizontal" action="/newgroup" method="POST">
           {% raw xsrf_form_html() %}
          <fieldset>
            <div id="legend">
              <legend class="">Create new group....</legend>
            </div>
                            <div class="control-group">
              <label class="control-label" for="groupname" >Groupname</label>
              <div class="controls">
                <input type="text" id="groupname" name="groupname" placeholder="" class="form-control input-lg" required="">
                <p class="help-block">Group name can contain any letters or numbers, without spaces</p>
              </div>
            </div>
         <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success">Create Group</button>
              </div>
          </fieldset>
        </form>
    
    </div> 
  </div>
</div>
